/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #777;
}

.top {
    width: 100%;
    text-align: center;
}

.blue {
    background-color: #000033;
}

.pattern {
    background-image: url("/images/tweed.png");
    background-repeat: repeat;
}



/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */

.featurette {
    text-align: center;
}
.featurette-heading {
  font-weight: 500;
  line-height: 1;
  letter-spacing: -1px;
  color: #CC0000;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
