/* Space out content a bit */
body {
  color: #444;
  background-color: white;
}

.header {
    background-color: #2c3e50;
}

.top {
    width: 100%;
    text-align: center;
}

.blue {
    background-color: #34495e;
}

.pattern {
    background-image: url("/images/tweed.png");
    background-repeat: repeat;
}

.content {
    width: 900px;
}

.lead {
    width: 700px;
    text-align: center;
    margin:auto;
    padding-top: 50px;
}

.divider {
    height: 0px;
    border: 2px #ddd solid;
    width: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.info {
    text-align: center;
}

.info img {
    padding: 10px;
}


/* Custom page footer */
.footer {
    text-align:center;
    border-top: 1px solid #e5e5e5;
    height:50px;
    color: white !important;
    margin-top:30px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */

.featurette {
    text-align: center;
}
.featurette-heading {
  font-weight: 500;
  line-height: 1;
  letter-spacing: -1px;
  color: #CC0000;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
}
